<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901965215720-tdjovms6m7ucra4via4vsdr3f3ojvqcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901965215720-tdjovms6m7ucra4via4vsdr3f3ojvqcd</string>
	<key>API_KEY</key>
	<string>AIzaSyDvLdwGlCFT-OzoLt4-swg-4cnX03lJ__k</string>
	<key>GCM_SENDER_ID</key>
	<string>901965215720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareable123</string>
	<key>PROJECT_ID</key>
	<string>strong-phalanx-295621</string>
	<key>STORAGE_BUCKET</key>
	<string>strong-phalanx-295621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901965215720:ios:1796132a25fad63a45d65d</string>
</dict>
</plist>